<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }

   @media(max-width:768px){
    .container{
        max-width: 900px;
        margin: 30px auto;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        
      }
   }

header{
    background-color: #415a77;
    display: flex;
    text-align: left;
    height: 15vh;
    
    align-items: center;
}
a .logo{
    margin-left: 2%;
    margin-right: 30%;
    width: 13vw;
    height: 10vh;
    
   
}
    
.message-box {
    background-color: #cfeaf6;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid #e0e0e0;
}

.contact-box {
    display: flex;
    justify-content: space-around;
    padding: 35px;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
}

.contact-box div {
    flex: 6;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #cfeaf6;
    border-radius: 5px;
    text-align: center;
    background-color: #cfeaf6;
}

.contact-box div p {
    margin: 10px 0;
}
.textbox{
    width: 80%;
    height: 80px;
    margin: 20px ;
    padding: 20px;
    font-size: 16px;
    border:#333;
    border-radius: 5px;
}
button {
    background-color: #003366;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  button:hover {
    background-color: #0055aa;
  }
  #responseMessage {
    margin-top: 10px;
    font-size: 14px;
  }
  
=======
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }

   @media(max-width:768px){
    .container{
        max-width: 900px;
        margin: 30px auto;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        
      }
   }

header{
    background-color: #415a77;
    padding: 30px 40px;
    text-align: left;
}
.logo{
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 16px;
    transition: background-color 0.3s;
    display: inline-block;
}
.message-box {
    background-color: #cfeaf6;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid #e0e0e0;
}

.contact-box {
    display: flex;
    justify-content: space-around;
    padding: 35px;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
}

.contact-box div {
    flex: 6;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #cfeaf6;
    border-radius: 5px;
    text-align: center;
    background-color: #cfeaf6;
}

.contact-box div p {
    margin: 10px 0;
}
.textbox{
    width: 80%;
    height: 80px;
    margin: 20px ;
    padding: 20px;
    font-size: 16px;
    border:#333;
    border-radius: 5px;
}
button {
    background-color: #003366;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  button:hover {
    background-color: #0055aa;
  }
  #responseMessage {
    margin-top: 10px;
    font-size: 14px;
  }
  
>>>>>>> 7eea70d98ae2b0f3ddffaeea1b7dd656c71f7489
  