
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f9fc;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
  }
  
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #355c7d;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    color: white;
  }
  
  .photo {
    flex: 1;
    font-size: 14px;
  }
  
  .info {
    display: flex;
    gap: 10px;
    flex: 2;
  }
  
  .info input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #ddeeff;
    font-size: 14px;
  }
  
  .menu {
    font-size: 20px;
    flex: 0.5;
    text-align: right;
    color: black;
  }
  

  .content {
    padding: 20px;
  }
  
  .field {
    margin-bottom: 20px;
  }
  
  .field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .field input,
  .field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .field input:focus,
  .field textarea:focus {
    outline: #f7f9fc;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
 
  .footer {
    text-align: right;
    padding: 10px;
  }
  
  .save-btn {
    padding: 10px 20px;
    background-color: #355c7d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .save-btn:hover {
    background-color: #2a475d;
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    .info {
      flex-direction: column;
      gap: 10px;
    }
  }