*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}




.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(74, 98, 138);
    height: 15vh;
    align-items: center;
    position:fixed;
    z-index: 3;
   
}
.container{
    padding-top: 15vh;
    padding-bottom:10vh ;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     z-index: 1;
     background-color: rgb(252, 252, 252);
     width: 100%;
     height: 100%;
   
     
     
 }
 .container hr{
     border: none;
     width: 90%;
     height: 1vh;
     background-color: rgb(74, 98, 138);
     margin: 2vh;
     border-radius: 1vw;
     
 }
 .container .kurs{
  
     display: inline-flex;
     width: 85vw;
     height: 15vh;
     border-radius: 2vw;
     justify-content: space-around;
     align-items: center;
 }
 
 .container .kurs img{
     height: 10vh;
     width: 5vw;
     
 }
 
 .container p{
     font-size: 1vw;
 }
 
.Courses{
    background-color: rgb(74, 98, 138);
    color:white;  
    border: 0.2vw solid;
    border-color:  rgb(42, 54, 99);
    border-radius: 10px; 
    width: 15vw;
    height: 7vh;
    font-size: 3vh;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 50vw;
    margin-bottom: 5vh;
    text-align: center;
    display: none;
}
.Courses:hover{
    background-color: rgb(42, 54, 99);
    border: 0.2vw solid;
    border-color:  rgb(74, 98, 138);
}

   



.navbar p{
    background-color: rgb(185,229,232);
    border-radius: 5px;
    padding: 0.5%;
    margin-left:8% ;
    margin-right: 65%;
    width: 15vw;
    text-align: center;
    font-size: 2vh;
}




.Close-Img{
   height: 8vh;
   width: 8vw;
}




