body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
header{     
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(74, 98, 138);
    height: 15vh;
    align-items: center;
   
    margin-bottom:2vh;
}
a .Logo{
    margin-left: 1%;
    margin-right: 25%;
    height: 12vh;
   
}
header h1{
    margin-left: 33%;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
   
    
}
#register{
    background-color: rgb(185, 229, 232);
    padding: 44px 23px;
    border: 3px solid rgb(74, 98, 138);
    border-radius: 16px;
    box-shadow: 1px 3px rgba(74, 98, 138);
    text-align: center;
    width: 400px;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}
#register input[type="text"],
#register input[type="tel"],
#register input[type="email"],
#register input[type="password"]{
    
    width: 20vw;
    height: 2vh;
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 2px;
    border: 3px solid rgb(156, 156, 156);
    border-radius: 14px;
    font-size: 13px;
    
}
#register label{
    display: inline;
    margin-bottom: 2vh;
    font-size: 1vw;
}

.form-klasa2 p{
    font-size: 1vw;
    
    color: #232323;
    margin-bottom: 0.2vh;
}
.form-klasa2 input[type="radio"]{
    margin-right: 8px;
}
button{
    padding: 7px 67px;
    margin-top: 7px;
    border: 2px solid rgb(42, 54, 99);
    border-radius: 11px;
    background-color: rgb(42, 54, 99);
    color: rgb(255, 255, 255);
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.error-message, .success-message{
    position: fixed;
    top: 6px;
    left: 40%;
    transform: translateX(-50%, -50%);
    width: 20%;
    text-align: center;
    font-size: 1.3rem;
    padding: 3px;
    border-radius: 33px;
    margin-top: 18vh;
    z-index: 99;
}
.error-message{
    color: rgb(181, 170, 170);
    background-color: rgb(163, 68, 68);
}
.success-message{
    color: #4F8A10;
    background-color: #92e00a;
}
button:hover{
    background-color: rgb(74, 98, 138);
}
@media (max-width: 768px){
.klasa1{
    flex-direction: column;
    align-items: center;
}
.form-klasa3{
    width: 90%;
    }
}